<footer class="footer {{footerclass}}">
    <div class="navbar-header">
      <a href='/'><img id='logo' src='../images/sara-logo-crop.png'></a>
      <a class="navbar-brand" href="/message/message" id='logo-name'>Contact</a>
      <a class="navbar-brand" href="/" id='logo-name'>Sitemap</a>
      <a class="navbar-brand" href="/terms" id='logo-name'>Terms of use</a>
    </div>
</footer>