<div id="header-wrap">
  <table id="header">
    <tr>
      <td id="logo">
        <span class="wsite-logo">
          <a href="/">
            <span id="wsite-title">MIDAS</span>
          </a>
        </span>
      </td>

      <td class="nav">
        <ul class="wsite-menu-default">
          <li id="active" class="wsite-menu-item-wrap" >
            <a href="/intro" class="wsite-menu-item" >Intro</a>
          </li>
          {{#if login }}
            {{#if admin}}
              <li class="wsite-menu-item-wrap" >
                <a href="/admin/admin" class="wsite-menu-item" >Admin</a>
              </li>
            {{/if}}
            <li class="wsite-menu-item-wrap" >
              <a href="/user/account" class="wsite-menu-item" >Account</a>
            </li>
            <li class="wsite-menu-item-wrap" >
              <a href="/user/logout" class="wsite-menu-item" >Logout</a>
            </li>
          {{else}}
            <li id="pg136241869276186126" class="wsite-menu-item-wrap" >
              <a href="/user/signup" class="wsite-menu-item" >Sign up</a>
            </li>
            <li id="pg136241869276186126" class="wsite-menu-item-wrap" >
              <a href="/user/entervault" class="wsite-menu-item" >Enter Vault</a>
            </li>
          {{/if}}
          <li id="pg859576902690700031" class="wsite-menu-item-wrap" >
            <a href="/blog" class="wsite-menu-item" >Blog</a>
          </li>
          <li id="pg336641080812431241" class="wsite-menu-item-wrap" >
            <a href="/contact/message" class="wsite-menu-item" >Contact</a>
          </li>
        </ul>
      </td>

      <!--mobile nav bars -->
      <td>
        <button class='m-nav-bars' id='m-nav-bars'>
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
      </td>

      <td class="search">${{goldData}}/oz</td>
    </tr>
  </table>
</div><!-- end header-wrap -->

<div class='m-nav' id='m-nav' >
  <div class='m-nav-positioning'>
    <a href="/intro" class="m-nav-button" >Intro</a>
    {{# if login }}
      {{#if admin}}
        <a class='m-nav-button' href='/admin/overview' >Overview (admin)</a>
      {{/if}}
      <a class='m-nav-button' href='/user/account' >Account</a>
      <a class='m-nav-button' href='/user/logout' >Logout</a>
    {{ else }}
      <a class='m-nav-button' href='/user/entervault' >Enter Vault</a>
      <a class='m-nav-button' href='/user/signup' >Sign Up</a>
    {{/if}}
    <a href="/blog" class="m-nav-button" >Blog</a>
    <a href="/contact" class="m-nav-button" >Contact</a>
  </div>
</div>