<div id='main-wrap'>
  <table class="m1-0-multicol-table">
    <tbody class="m1-0-multicol-tbody">
      <tr class="m1-0-multicol-tr">
        <td class="m1-0-multicol-col" style="width:30%; padding:0 15px;">

          <div class="m1-0-spacer" style="height:50px;"></div>

        </td>
        <td class="m1-0-multicol-col" style="width:35%; padding:0 15px;">





          <h2 class="m1-0-content-title" style="text-align:center;"><br><br>
            <font color="#cccccc">Silver and Gold...<br> Happy Christmas!</font><br>
          </h2>

          <div class="paragraph" style="text-align:left;">
            <font color="#2a2a2a">

              <center><iframe width="480" height="270" src="https://www.youtube.com/embed/azcj749wMIU" frameborder="0"
                  allowfullscreen=""></iframe></center>
              <br><br>


              I'd like to express to our customers how grateful I am to you for helping us this year with
              beta-testing the system. May you have a wonderful, peaceful, and blessed Christmas time to
              spend enjoying your loved ones and remembering the most important things in life.<br><br>

              <center> <img src="../images/Christmas.jpg" alt="All is Bright"><br><br></center>



              <h2 class="m1-0-content-title" style="text-align:center;"><br><br>
                <font color="#cccccc">A Golden Sunrise</font><br>
              </h2>

              <div class="paragraph" style="text-align:left;">
                <font color="#2a2a2a">
                  <center><img src="../images/golden-sunrise.jpg" alt="Picture"></center><br><br>

                  Thanks to the great contributions of the Austrian economists, we now know the enormous
                  problem we have before us in the form of fractional reserve banking. And we also know what
                  the solution is.<br><br>


                  100% reserve.<br><br>


                  A real gold standard.<br><br>


                  Sound money.<br><br>


                  Some would say it's impossible. In today's world of corruption and big government, it's
                  impossible. We went off on the wrong track, and there's no way to get back right without a
                  massive political sea-change. Which, they would probably also tell you, is: well-nigh
                  impossible.<br><br>


                  Impossible.<br><br>


                  Well, then, we have done the impossible. Welcome to a 100% reserve system. A sound, honest
                  system. A pure gold system.<br><br>


                  The rest of the world may have fiat money systems. The rest of the world may have
                  abandoned gold as a "barbarous relic." The rest of the world may have, frankly, gone crazy
                  and is building its future on a deck of cards. The rest of the world may run on a
                  financial system of corruption and deceit.<br><br>


                  You don't have to. <br><br>


                  <h2 class="m1-0-content-title" style="text-align:center;"><br><br>
                    <font color="#cccccc">There is Gold Within Us All</font><br>
                  </h2>

                  <div class="paragraph" style="text-align:left;">
                    <font color="#2a2a2a"><b>"Gold."</b>&nbsp; The word itself seems to be deeply emotional
                      to all of us.&nbsp; It makes us feel lifted, to aspire higher.&nbsp; It symbolizes the
                      very pinnacle of performance.&nbsp; It embodies a permanence of acheivement: calm,
                      steadfast, and sure of itself.&nbsp; Its purity, its luster, its gleam, is recognized
                      throughout the world. <br><br>

                      Purity.&nbsp; Permanence.&nbsp; The Pinnacle.&nbsp; This is what gold can serve as in
                      your financial life.&nbsp; Let gold be your ally in your quest to become a
                      champion.<br><br>

                      <center><iframe width="560" height="315" src="https://www.youtube.com/embed/SKMICJB3dI0"
                          frameborder="0" allowfullscreen=""></iframe></center>
                      <br><br>

                      <h2 class="m1-0-content-title" style="text-align:center;"><br><br>
                        <font color="#cccccc">Opening Post</font><br>
                      </h2>

                      <div class="paragraph" style="text-align:left;">
                        <font color="#2a2a2a">Welcome, one and all, to the Midas web site!&nbsp; I hope you
                          enjoy your stay.<br><br>We are working to build you the very best way to manage
                          all your finances.&nbsp; You need a financial hub, a simple place to go where you
                          can take care of everything that has to do with your money.&nbsp; You need a place
                          that makes money simple and intuitive, not a hassle.&nbsp; You need a place that
                          will put you first, and give you service that will put a smile on your
                          face.<br><br>Midas is that place.<br><br>To build something great, you need to
                          start with a solid foundation.&nbsp; And so for our foundation, we have chosen the
                          most solid, most reliable money we know of: gold.&nbsp; Why would we build the
                          super-structure of world-class services we have planned on the flimsy promises of
                          paper currency?&nbsp; And why should <em>you </em>have to be continually
                          vulnerable to the danger of inflation eating away at your savings?&nbsp; Why, in
                          short, should you settle for anything less than the best?<br><br>I don't think you
                          should.&nbsp; And at Midas, you won't have to.<br><br>We are starting fairly
                          basic, but as we grow we will add new and exciting features.&nbsp; Come grow along
                          with us.&nbsp; I think you will enjoy the
                          ride.<br><br>
                        </font><br><span style=""></span>
                      </div>

                    </font>
                  </div>
                </font>
              </div>
            </font>
          </div>
        </td>
        <td class="m1-0-multicol-col" style="width:25.759619594926%; padding:0 15px;">

          <div class="m1-0-spacer" style="height:50px;"></div>

        </td>
      </tr>
    </tbody>
  </table>
</div>