<div id='main-wrap'>
  <div class='container'>
    <div id="m1-0-content" class="m1-0-elements m1-0-not-footer">

      <center>
        <div
          style="display: table; width:656px; height: 650px; padding-top:10px; padding-bottom:10px; margin-left:0; margin-right:0; text-align:center; background-image: url('../images/vault.jpg'); background-repeat: no-repeat; background-position: center center; align-items: center">

          <div class='vault-sign-in' style=" display: table-cell; vertical-align: middle; ">
            <div style=" display: inline-block;">
              {{#if hasErrors}}
              <div class='alert alert-danger'>
                {{# each messages }}
                <p>{{this}}</p>
                {{/each}}
              </div>
              {{/if}}
              <form class='user-form' action='/user/entervault' method='post'>
                <div class='form-group'>
                  <input type='email' id='email' name='email' class='vault-sign-in' placeholder='Email Address'
                    value="test.user@gmail.com" />
                </div>
                <br>
                <div class='form-group'>
                  <input type='password' id='password' name='password' class='vault-sign-in' placeholder='Password'
                    value='asdf1234' />
                </div>
                <br><br>
                <input type='hidden' name='_csrf' value='{{ csrfToken }}'>
                <div class='button-container'>
                  <button type='submit' class='vault-sign-in' id='btn btn-primary'><strong>Enter the
                      Vault</strong></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </center>

    </div>