/* fonts */

@font-face {
  font-family: 'Lustria';
  font-style: normal;
  font-weight: 400;
  src: local('Lustria'), local('Lustria-Regular'), url(../fonts/lustria.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: local('Oxygen Light'), local('Oxygen-Light'), url(../fonts/Oxygen_Light_300.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  src: url(https://midas.gold/fonts/Patua_One.woff2) format('woff2');
}


ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, div.paragraph, blockquote, fieldset, input { margin: 0; padding: 0; }
 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input { margin: 0; padding: 0; }
 a img { border: 0px none; }
 a { text-decoration: none; }
 input:focus, select:focus, textarea:focus, button:focus { outline: none; }
 html { height: 100%; }
 body { margin:auto; width=95%; max-width:1050px; font-family: 'Oxygen', sans-serif; font-size: 17px; line-height: 26px; color: #535353; background: #fff; font-weight:300; -webkit-font-smoothing: antialiased; height: 100%; }

 #header-wrap, #banner-wrap, #nav-wrap, #footer-wrap { width:100%; float:center }
 #icontent_container { height: 100%; }
 #icontent_container ul li{ list-style:none; }
 a { color: #f7a416; }
 a:hover { color: #e9cf76; text-decoration: underline; }
 h2 { color: #93701f; font-size: 7; padding: .5em 0 .2em 0; line-height: 30px; font-family: 'Lustria', serif; font-weight: normal; color: #93701f; text-transform: uppercase; letter-spacing: 1px; }
 div.paragraph { color: #535353; font-size: 17px; line-height: 1.5; padding: .5em 0; }
 p { font-size: 17px; line-height: 1.5; padding: .5em 0; }
 blockquote { background: none; font-family: 'Oxygen', sans-serif; font-size: 17px; line-height: 28px; padding: 1em; margin: 2em 0; border-left: 0px !important;}
 div#content {min-height:400px;}
 
#header-wrap { background: #fff;  position:fixed;
  top:0%; left:50%; transform: translate(-50%, 0%); -webkit-transform: translate(-50%, 0%);  width=95%; max-width:1050px; border-bottom: 0px solid #f0f0f0;  z-index:101;}

.vault-sign-in {color: #393939; font-size: 40px; line-height: 60px; }

 #logo, .search { width:50px; }
 #logo, #logo a { color: #393939; font-size: 34px; line-height: 40px; font-family: 'Lustria', serif; text-decoration: none; margin-left: 0px; }
 #logo a:hover { color: #6c6c6c; }

 #header { border-collapse: collapse; border-spacing: 0; width:100%; }
 #header td { vertical-align: middle; text-align: center; z-index:101;}

#header .midas-title {vertical-align: middle; text-align: center; z-index:101;}



 ::-webkit-input-placeholder { color: #8e8e8e; opacity:1; }
 :-moz-placeholder { color: #8e8e8e; opacity:1; }
 ::-moz-placeholder { color: #8e8e8e; opacity:1; }
 :-ms-input-placeholder { color: #8e8e8e; opacity:1; }
 #m1-0-search-header h2 { margin-bottom: 0; margin-top: 10px; }
 #m1-0-search-query { font-size: 1.2em; height: 40px; line-height: 40px; padding: 0 10px !important; width: 100%; }
 .nav { clear: both; overflow: hidden; position: relative; }
 .nav ul { list-style: none; text-align: center; }
 .nav ul li { list-style: none; display: inline-block; margin-right: 45px; background: none; }
 .nav ul span:last-child li, .nav ul > li:last-child { background: none; }
 .nav ul li a { display: inline-block; font-family: 'Oxygen', sans-serif; color: #8e8e8e; text-decoration: none; border: 0px none; outline: 0; list-style-type: none; font-size: 18px; line-height: 20px; text-transform: none; padding-left:0; padding-right:0; padding-top:0px; padding-bottom:0px }
 
 
 .nav ul li#active a { color: #e9cf76; font-weight: bold; background: none; border: 0px none; }
 .nav ul li a:hover { color: #e9cf76; background: none; border: 0px none; }
 
 
 #m1-0-menus .m1-0-menu li a { font-family: 'Oxygen', sans-serif; color: #8e8e8e; background: #f6f6f6; border: 0px none; text-transform: uppercase }
 #m1-0-menus .m1-0-menu li a:hover { color: #8e8e8e; background: #fff;}
 #m1-0-menus .m1-0-menu li ul li a { color: #8e8e8e; background: #fff;}
 #m1-0-menus .m1-0-menu li ul li a:hover { color: #2ecc71; background: #fff !important;}
 #m1-0-menus .m1-0-menu-arrow { display:none;}
 
 #midas-content .paragraph { color: #8e8e8e; font-size: 20px; line-height: 28px; padding: 38px 0 50px; font-weight: 300; font-family: 'Oxygen', sans-serif; text-align: center !important; }
 
 #main-wrap .container { min-height:400px; padding-top: 70px; }
 #main-wrap .container h2 { margin-bottom: 6px; }
 #main-wrap .container div.paragraph {}
 #main-wrap .container p {}
 #main-wrap .container a {}
 #main-wrap .container blockquote {}
 #main-wrap .container form .m1-0-button { margin-top:20px; }


div.paragraph ul, div.paragraph ol { padding-left: 3em !important; margin: 5px 0 !important; overflow:hidden; }
div.paragraph li { padding-left: 5px !important; margin: 3px 0 0 !important; }
div.paragraph ul, div.paragraph ul li { list-style: disc outside !important; }
div.paragraph ol, div.paragraph ol li { list-style: decimal outside !important; }





 #cloud { position:fixed; top: 0%; left: 50%; transform: translate(-50%, 0%);  -webkit-transform: translate(-50%, 0%);  z-index:100; pointer-events: none;}






#main-wrap {
    width=95%; 
    max-width:1050px;
	float:center;
    margin-top: 50px;
    font-size: 21px;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}





.myTextarea
{
    display: block;
    width: 230px;
    height: 100%;
    margin: 0;
    padding; 0;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */
    .myTextarea
    {
    height: 129px;
}
}

.textTd
{
    height: 134px;
    width: 244px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */

.myInputarea
{
    display: block;
    height: 21px;
    margin: 0;
    padding; 0;
}
}

.normalTr
{
    height: 39px;
    width: 449px;
}

.contacttable, .contactth, .contacttd, .textTd {
    border: 1px solid clear;
}
#m1-0-title {
  font-family: "Patua One", serif, !important;
  font-weight: 400;
  font-size: 27px !important;
  color: #e9cf76 !important;
}

#m1-0-big-image {
    padding-top:10px;
    padding-bottom:10px;
    margin-left:0;
    margin-right:0;
    text-align:center
}

#old-m1-0-signup { 
font-family: 'Oxygen', sans-serif; 
font-size: 7px; 
line-height: 100px; 
color: #535353; background: #fff; font-weight:300; -webkit-font-smoothing: antialiased; height: 100%; 
width:512px; 
height: 662px; 
padding-top:10px; 
padding-bottom:10px; 
margin-left:0; 
margin-right:0; 
text-align:center; 
background-image: url('../images/paper.png'); 
background-repeat: no-repeat; 
background-position: center center; 
align-items: center
}

#old2-m1-0-signup { 
text-align:left; 
padding-top:150px; 
padding-bottom:15px; 
margin-left:100px; 
margin-right:0; 
font-size: 17px; 
line-height: 30px; 
width:512px; 
height: 662px; 
background-image: url('../images/paper.png'); 
}