
<div id="wsite-content" class="wsite-elements wsite-not-footer">
<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px; padding-bottom:10px; margin-left:0; margin-right:0; text-align:center; ">
<a href="user/signin">
  <img src="../images/vault.jpg" alt="Enter the Vault" style="width:auto;max-width:100%">
</a> <br><br><br><br><br><br><br><br>

<div style="display:block;font-size:90%"></div>
</div></div></div>
