<div id="wsite-content" class="wsite-elements wsite-not-footer">
	<div>
		<div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
		<a><img src="../images/8596677.jpg?698" alt="Gold Nugget" style="width:698;max-width:100%"></a>
		<div style="display:block;font-size:90%"></div>
	</div>
</div>

<h2 class="wsite-content-title" style="text-align:center;"><font color="#93701f" size="7"><strong>GOLD</strong></font></h2>

<div class="paragraph" style="text-align:left;"><font color="#93701f">Gold is a time-tested store of wealth.&nbsp; For over two  thousand years men have been using&nbsp;gold as a way of protecting their  hard-earned wealth and passing it&nbsp;down&nbsp;from generation to generation.<br><span style=""></span><br><span style=""></span>    Gold is not subject to rust or tarnish. &nbsp;This  beautiful metal is also immune from the delusional inflationary  fantasies of politicians. &nbsp;No matter how much they may wish to,  politicians and central banks cannot create gold out of thin air. &nbsp;It  thus serves as an important hedge against inflation.<br><br></font><br><span style=""></span><br><span style=""></span></div>

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a>
<img src="../images/4237267_orig.jpg" alt="Dollar Ball" style="width:auto;max-width:100%">
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<h2 class="wsite-content-title" style="text-align:center;"><font size="7">THE DOLLAR<br></font></h2>

<div class="paragraph" style="text-align:left;">The U.S. dollar is currently the most widely-used  currency in the world. &nbsp;It gained its status due to the reliability of  its convertibility to gold, giving rise to the once-common saying: “the  dollar is as good as gold”.<br><span style=""></span><br><span style=""></span>    Today, we no longer hear that phrase. &nbsp;And it’s no  wonder why not: we can no longer bring our dollars into the bank and  receive gold in exchange. &nbsp;Once upon a time we could.&nbsp; Those days are  long gone, and so too are any limitations on the number of dollars that can be printed.&nbsp; The supply of dollars has been left to the whims of the  inflationists – hardly a safe and comforting situation.<br><span style=""></span><br><br><br><span style=""></span></div>

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a>
<img src="../images/627059_orig.jpg" alt="Pourin' Gold" style="width:auto;max-width:100%">
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<h2 class="wsite-content-title" style="text-align:center;">THE SOLUTION: LIQUID GOLD<br></h2>

<div class="paragraph" style="text-align:left;">What if there was a way to base your financial life  around gold, without having to convince everyone around you to switch?&nbsp;  What if there was a way to keep your savings safely in gold, and also to  spend that gold in any store with total ease?<br><span style=""></span><br><span style=""></span>    Now, there is.<br><span style=""></span><br><span style=""></span>    Midas is introducing the Liquid Gold Card.&nbsp; This is a  payment card that from day one is already immediately accepted  everywhere that Visa is accepted, around the world.&nbsp; You can:<br><span style=""></span><br><span style=""></span>    <ul style=""><li style=""> 	<span style="">Pay at any store</span><br><span style=""></span> 	</li><li style=""> 	<span style="">Pay at any restaurant</span><br><span style=""></span> 	</li><li style=""> 	<span style="">Pay online</span><br><span style=""></span> 	</li><li style=""> 	<span style="">Pay your bills</span><br><span style=""></span> 	</li><li style=""> 	<span style="">Pay in any other situation you can think of</span><br><span style=""></span><br><span style=""></span> 	</li></ul>    Total simplicity.&nbsp; Total convenience.&nbsp; Total liquidity.<br><br><br><br><span style=""></span></div>

<h2 class="wsite-content-title" style="text-align:center;">QUESTIONS</h2>

<div class="paragraph" style="text-align:left;"><strong><strong><span style="">How is this possible?</span></strong></strong><br><span style=""></span><br><span style=""></span>    Foreign travelers will be familiar with a feature of  most modern debit and credit cards: to pay in whatever currency the  merchant wishes to be paid in, even though the traveler’s account is  actually in dollars.&nbsp; The merchant is paid in his currency, the traveler  pays in his own currency, and the banking system takes care of all the  details behind the scenes. The Liquid Gold Card works in the same way –  except that we don’t charge a 3% foreign transaction fee to convert from  gold ounces to dollars!<br><span style=""></span><br><strong><strong><span style=""></span>    <span style="">Where can I use the Liquid Gold Card?</span></strong></strong><br><span style=""></span><br><span style=""></span>    Use it at stores, online, and anywhere.&nbsp; It is a  normal payment card.&nbsp; Any place that accepts Visa charge (credit) cards  should accept your Liquid Gold Card without blinking an eye.<br><span style=""></span><br><strong><span style=""></span>    <span style=""></span></strong><strong style=""><span style=""></span></strong><strong style=""><span style=""><strong style=""><strong style=""><span style=""></span> <span style="">Can I withdraw cash from an ATM?</span></strong></strong></span></strong><br><span style=""></span><br><span style=""></span>    Yes, but we do not recommend it.&nbsp; You will be charged a “cash advance” fee by Visa, in addition to the ATM’s fee.<br><span style=""></span><br><strong><strong><span style=""></span>    <span style="">Will the card also work overseas &amp; in foreign currencies?</span></strong></strong><br><span style=""></span><br><span style=""></span>    Yes, but extra fees will apply (see Details below).&nbsp; We are focused on enabling gold-to-dollar everyday spending at the moment.<br><span style=""></span><br><br><br><span style=""></span>      </div>

<h2 class="wsite-content-title" style="text-align:center;">DETAILS</h2>

<div class="paragraph" style="text-align:left;">Card Processor: Visa<br><span></span>Location of gold: Zurich, Switzerland<br>Gold details: Allocated metal bars subject to LBMA rules for Good Delivery<br><span></span><br><span></span>

Fees:<br><br><span></span>

0.39% annual fee for storage, charged on a daily basis.&nbsp; That means you’ll be charged about 0.00107% per day.<br><span></span>Ordering Fee: $0.00<br>Loading Fee: 0.00%<br><span></span>POS Transaction Fee: 0.00%<br><span></span>Currency Conversion Fee: 0.00%* except for rounding, see below.<br><span></span>Fee for original or replacement debit cards delivered by regular U.S. mail: $0.00<br><span></span>Inactive Account Management Fee: $0.00<br><span></span>Minimum monthly activity requirement: none<br><br>Cash Advance: 6% of the amount of each advance or $12 minimum, whichever is greater<br><span></span><br><span></span>

Foreign Transaction Fee: 2% of each foreign purchase
transaction or foreign ATM advance transaction in U.S. Dollars; 3% of
each foreign purchase transaction or foreign ATM advance transaction in
Foreign Currency<br><span></span><br><span></span>

The price that gold purchases and sales are transacted
at will be the most recent London PM Fix price.&nbsp; For your convenience, the gold price will be calculated based on the transaction date, and not on the post date which will sometimes be later.<br><span></span><br><span></span>

Please be aware that the price of gold in terms
of dollars can be quite volatile.&nbsp; The dollar value of your gold could
decrease on any given month or day, and often will.&nbsp; Your account is
denominated in gold, not dollars.<br><span></span><br><span></span>

* Rounding: When you fund your account, Midas will use
those funds to purchase gold.&nbsp; Due to various factors, the amount of
gold you should mathematically be entitled to in terms of ounces will
usually be a non-terminating irrational number.&nbsp; For technical and
practical reasons we will round this figure down to the nearest
millionth of an ounce.&nbsp; We will always round down.&nbsp; Similarly when we
sell gold due to your making a purchase or other transfer, we will round
the U.S. Dollar amount to credit you down to the nearest penny
($0.01).&nbsp; We will always round down.<br><span></span><br><span></span></div></div>